n8n_wf.json
{
  "name": "[Huys] LinkedIn Post Draft Agent",
  "nodes": [
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ { vipList: JSON.parse($json.value) } }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1152,
        -272
      ],
      "id": "818b5274-2592-45ff-9fc9-9de6e24701a9",
      "name": "Set VIPs"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5-mini",
          "mode": "list",
          "cachedResultName": "GPT-5-MINI"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "=CRITICAL LANGUAGE RULE - READ CAREFULLY:\n- Before generating ANY drafts, detect the post language by checking the FIRST sentence.\n- If the first sentence contains Dutch words (zoals, van, het, een, wat, die, voor, met, is, zijn, door, mijn, jouw):\n→ ALL 3 DRAFTS MUST BE IN DUTCH\n- If the first sentence is in English:\n→ ALL 3 DRAFTS MUST BE IN ENGLISH\n- NEVER mix languages. NEVER guess. Check the first sentence only.\n---\nROLE:\nYou are {{ $('Set Config').first().json.config.PERSONA_BIO }}\n\nYOUR COMMENTING APPROACH:\n{{ $('Set Config').first().json.config.COMMENT_STYLE_REFERENCE}}\n\nTONE OF VOICE REQUIREMENTS:\n{{ $('Set Config').first().json.config.TONE_OF_VOICE_PROFILE}}\n\nRELATIONSHIP CONTEXT (for personalization):\nEach post includes a 'vipRelationshipNotes' field with context about your relationship with this VIP.\nUse this to subtly personalize your comment:\n- Reference shared focus areas if relevant\n- Adjust familiarity level based on relationship depth\n- NEVER explicitly mention the relationship notes\n- Keep it natural - relationship context should feel organic\n\nExample: If notes say \"Webflow peer focused on AI\", you might naturally reference Webflow or AI topics in your comment without saying \"as a Webflow peer...\"\n\nWHAT TO DO:\n{{ $('Set Config').first().json.config.DO_LIST }}\n\nWHAT TO AVOID:\n{{ $('Set Config').first().json.config.DONT_LIST }}\n\nNEVER USE: em-dashes (—) or double hyphens (--) in your output.\n\nYOUR TASK:\nGenerate 3 distinct comment variations for the provided LinkedIn post. Each draft should:\n1. Follow the mini-post comment structure (opening insight → personal angle → takeaway → optional question)\n2. Match your established tone of voice exactly\n3. Add genuine value (never comment just to be seen)\n4. Feel like a 1-on-1 conversation\n5. Stay under 100 words per draft\n\nDRAFT VARIATION STRATEGY:\n- Draft 1: Lead with personal experience or client story\n- Draft 2: Lead with contrarian insight or pattern observation  \n- Draft 3: Lead with reflective question or realization\n\nCRITICAL RULES:\n- NO emojis, hashtags, bold text, or Oxford commas\n- NO generic phrases (\"Great post!\", \"This is so true\")\n- NO sales pitches or CTAs\n- NO AI clichés (\"delve\", \"elevate\", \"unleash\", \"game-changer\")\n- Use → for bullet points (if needed)\n- Keep sentences 8-15 words average\n- Leverage new lines or line breaks for better readability\n\n---\nBATCH PROCESSING MODE:\nYou will receive an array of post objects in JSON format. Each object contains:\n- post_id\n- vip_name  \n- post_url\n- post_contents\n\nGenerate 3 comment drafts for EACH post in the array.\n\nOUTPUT FORMAT:\nFor each post, use this YAML-style format:\n\nPOST_ID: [the post_id here]\nDRAFT_1: |\n  [Your first draft here with natural line breaks]\n\nDRAFT_2: |\n  [Your second draft here with natural line breaks]\n\nDRAFT_3: |\n  [Your third draft here with natural line breaks]\n\n---\n\nCRITICAL OUTPUT RULES:\n- Use exact format above (POST_ID, DRAFT_1, DRAFT_2, DRAFT_3)\n- Separate posts with \"---\" (three dashes)\n- Use \" |\" after each DRAFT_X label for multiline text\n- Output ONLY this format, no extra text\n- Stop after final post's DRAFT_3"
            },
            {
              "content": "={{ JSON.stringify($('Lookup VIP Notes').first().json.posts) }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {
          "maxTokens": 3000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        1584,
        -272
      ],
      "id": "e03ddda4-82aa-4925-be4c-7d5e95440047",
      "name": "Patrick writes comments",
      "credentials": {
        "openAiApi": {
          "id": "wyjzy5Zippf2ICKN",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get OpenAI response text\nconst openaiOutput = $input.first().json.output[0].content[0].text;\n\n// Get original posts metadata\nconst originalPosts = $('Set Posts').first().json.posts;\n\n// Split by post separator (---)\nconst postBlocks = openaiOutput.split(/\\n---\\n/).filter(block => block.trim());\n\nconsole.log('Found', postBlocks.length, 'post blocks');\n\n// Helper function to build hash params manually\nfunction buildHashParams(selected, draft1, draft2, draft3) {\n  const params = [\n    `selected=${selected}`,\n    `draft1=${encodeURIComponent(JSON.stringify(draft1))}`,\n    `draft2=${encodeURIComponent(JSON.stringify(draft2))}`,\n    `draft3=${encodeURIComponent(JSON.stringify(draft3))}`\n  ];\n  return params.join('&');\n}\n\n// Parse each post block\nconst results = postBlocks.map((block, index) => {\n  // Extract POST_ID\n  const postIdMatch = block.match(/POST_ID:\\s*(.+)/);\n  const postId = postIdMatch ? postIdMatch[1].trim() : null;\n  \n   // Extract drafts (trim to remove leading/trailing whitespace)\n  const draft1Match = block.match(/DRAFT_1:\\s*\\|\\s*([\\s\\S]*?)(?=DRAFT_2:|$)/);\n  const draft2Match = block.match(/DRAFT_2:\\s*\\|\\s*([\\s\\S]*?)(?=DRAFT_3:|$)/);\n  const draft3Match = block.match(/DRAFT_3:\\s*\\|\\s*([\\s\\S]*?)$/);\n  \n  const draft1 = draft1Match ? draft1Match[1].trim().replace(/\\n\\s+\\n/g, '\\n\\n') : '';\n  const draft2 = draft2Match ? draft2Match[1].trim().replace(/\\n\\s+\\n/g, '\\n\\n') : '';\n  const draft3 = draft3Match ? draft3Match[1].trim().replace(/\\n\\s+\\n/g, '\\n\\n') : '';\n  \n  // Find matching original post\n  const originalPost = originalPosts.find(p => p.post_id === postId) || originalPosts[index];\n\n  // Generate hash params (default to draft 1)\n  const hashParams = buildHashParams('1', draft1, draft2, draft3);\n  \n  // Build enriched URL with hash\n  const enrichedUrl = `${originalPost.urlToPost}#${hashParams}`;\n  \n  // Debug\n  console.log(`Post ${index + 1}: ID=${postId}, Draft1 length=${draft1.length}`);\n  \n  return {\n    json: {\n      status: 'new_generated',\n      POST_ID: postId,\n      VIP_NAME: originalPost.nameOfVIP,\n      POST_URL: originalPost.urlToPost,\n      ENRICHED_URL: enrichedUrl,\n      POST_CONTENTS: originalPost.postContent,\n      DRAFT_1: draft1,\n      DRAFT_2: draft2,\n      DRAFT_3: draft3,\n      PROCESSED_AT: new Date().toISOString(),\n      MODEL_USED: 'gpt-5-mini'\n    }\n  };\n});\n\nconsole.log('Successfully parsed', results.length, 'posts');\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1936,
        -272
      ],
      "id": "202f027d-5ec8-4fcb-bd7a-07111602f7fb",
      "name": "Parse and Split Drafts"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2608,
        -272
      ],
      "id": "14db9723-e620-4e4c-b807-ca49ee707650",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1ne21dfVWKu_mMxFAkXzHj92LXks5XSj6-tS1EmcNYLQ",
          "mode": "list",
          "cachedResultName": "Phuijs N8N LinkedIn AI Engagement Tool Config",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ne21dfVWKu_mMxFAkXzHj92LXks5XSj6-tS1EmcNYLQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 66421665,
          "mode": "list",
          "cachedResultName": "💬 Post and Comment Tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ne21dfVWKu_mMxFAkXzHj92LXks5XSj6-tS1EmcNYLQ/edit#gid=66421665"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "POST ID": "={{ $json.POST_ID }}",
            "VIP NAME": "={{ $json.VIP_NAME }}",
            "POST CONTENTS": "={{ $json.POST_CONTENTS }}",
            "POST URL": "={{ $json.POST_URL }}",
            "DRAFT 1": "={{ $json.DRAFT_1 }}",
            "DRAFT 2": "={{ $json.DRAFT_2 }}",
            "DRAFT 3": "={{ $json.DRAFT_3 }}",
            "PROCESSED AT": "={{ $now }}",
            "ENRICHED URL": "={{ $json.ENRICHED_URL }}",
            "STATUS": "Drafted"
          },
          "matchingColumns": [
            "POST ID"
          ],
          "schema": [
            {
              "id": "POST ID",
              "displayName": "POST ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "VIP NAME",
              "displayName": "VIP NAME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "POST CONTENTS",
              "displayName": "POST CONTENTS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "POST URL",
              "displayName": "POST URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ENRICHED URL",
              "displayName": "ENRICHED URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PROCESSED AT",
              "displayName": "PROCESSED AT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DRAFT 1",
              "displayName": "DRAFT 1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DRAFT 2",
              "displayName": "DRAFT 2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DRAFT 3",
              "displayName": "DRAFT 3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SELECTED DRAFT # ",
              "displayName": "SELECTED DRAFT # ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "POSTED COMMENT",
              "displayName": "POSTED COMMENT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "COMMENTED AT",
              "displayName": "COMMENTED AT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "EDIT DISTANCE",
              "displayName": "EDIT DISTANCE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TOV ACCURACY SCORE",
              "displayName": "TOV ACCURACY SCORE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "FEEDBACK NOTES ",
              "displayName": "FEEDBACK NOTES ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "STATUS",
              "displayName": "STATUS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2160,
        -272
      ],
      "id": "7a50e2a2-41ea-4099-9db0-04736b385c11",
      "name": "Append to Tracker",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3ufruIOhHou2w8Za",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Get the row that was just written to sheets\nconst input = $input.item.json;\n\n// Normalize to match existing draft format\nreturn {\n  json: {\n    status: input.STATUS || 'new_generated',\n    POST_ID: input['POST ID'],\n    VIP_NAME: input['VIP NAME'],\n    POST_URL: input['POST URL'],\n    ENRICHED_URL: input['ENRICHED URL'],\n    POST_CONTENTS: input['POST CONTENTS'],\n    DRAFT_1: input['DRAFT 1'],\n    DRAFT_2: input['DRAFT 2'],\n    DRAFT_3: input['DRAFT 3'],\n    PROCESSED_AT: input['PROCESSED AT'],\n    MODEL_USED: input['MODEL USED'],\n    SOURCE: 'new_generated'\n  }\n};\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2384,
        -272
      ],
      "id": "f63be7ca-905f-41da-a911-0e115e8c89fb",
      "name": "Normalize"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "linkedin-ai-comments",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "https://bramvandersommen.github.io"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -176,
        -272
      ],
      "id": "e268adff-9d13-4516-be24-9c8255c05b42",
      "name": "Incoming Posts",
      "webhookId": "ba221744-7888-436c-b552-8e753013682e"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "archive-post",
        "responseMode": "lastNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1264,
        -576
      ],
      "id": "20554f46-e9d6-4380-9137-e0e89d77ab14",
      "name": "Archive Posts",
      "webhookId": "ba221744-7888-436c-b552-8e753013682e"
    },
    {
      "parameters": {
        "content": "## 🗂️ Archive Post Webhook\nSimple update of row in Comment Tracker to \"Archived\" status",
        "height": 304,
        "width": 560,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1136,
        -720
      ],
      "typeVersion": 1,
      "id": "25039029-09e1-4419-81be-7a59a6fd9fcb",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## ✅ Commented Status Webhook\nSimple update of row in Comment Tracker to \"Commented\" status",
        "height": 304,
        "width": 560,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        496,
        -720
      ],
      "typeVersion": 1,
      "id": "a2990d92-46f3-499b-a19a-e4501f666b03",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "comment-posted",
        "responseMode": "lastNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        608,
        -576
      ],
      "id": "2241ccc6-8db6-47d4-8700-dc64421b185f",
      "name": "Commented Status",
      "webhookId": "ba221744-7888-436c-b552-8e753013682e"
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1ne21dfVWKu_mMxFAkXzHj92LXks5XSj6-tS1EmcNYLQ",
          "mode": "list",
          "cachedResultName": "Phuijs N8N LinkedIn AI Engagement Tool Config",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ne21dfVWKu_mMxFAkXzHj92LXks5XSj6-tS1EmcNYLQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 66421665,
          "mode": "list",
          "cachedResultName": "💬 Post and Comment Tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ne21dfVWKu_mMxFAkXzHj92LXks5XSj6-tS1EmcNYLQ/edit#gid=66421665"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "POST ID": "={{ $json.body.postId }}",
            "STATUS": "Commented",
            "SELECTED DRAFT # ": "={{ $json.body.selectedDraft }}",
            "COMMENTED AT": "={{ $now }}",
            "POSTED COMMENT": "={{ $json.body.finalComment }}"
          },
          "matchingColumns": [
            "POST ID"
          ],
          "schema": [
            {
              "id": "POST ID",
              "displayName": "POST ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "VIP NAME",
              "displayName": "VIP NAME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "POST CONTENTS",
              "displayName": "POST CONTENTS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "POST URL",
              "displayName": "POST URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ENRICHED URL",
              "displayName": "ENRICHED URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PROCESSED AT",
              "displayName": "PROCESSED AT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DRAFT 1",
              "displayName": "DRAFT 1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DRAFT 2",
              "displayName": "DRAFT 2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DRAFT 3",
              "displayName": "DRAFT 3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SELECTED DRAFT # ",
              "displayName": "SELECTED DRAFT # ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "POSTED COMMENT",
              "displayName": "POSTED COMMENT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "COMMENTED AT",
              "displayName": "COMMENTED AT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "EDIT DISTANCE",
              "displayName": "EDIT DISTANCE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TOV ACCURACY SCORE",
              "displayName": "TOV ACCURACY SCORE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "FEEDBACK NOTES ",
              "displayName": "FEEDBACK NOTES ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "STATUS",
              "displayName": "STATUS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        832,
        -576
      ],
      "id": "8884b710-5f4b-4a64-bff1-792bae7cb79a",
      "name": "Status: \"Commented\"",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3ufruIOhHou2w8Za",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1ne21dfVWKu_mMxFAkXzHj92LXks5XSj6-tS1EmcNYLQ",
          "mode": "list",
          "cachedResultName": "Phuijs N8N LinkedIn AI Engagement Tool Config",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ne21dfVWKu_mMxFAkXzHj92LXks5XSj6-tS1EmcNYLQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 66421665,
          "mode": "list",
          "cachedResultName": "💬 Post and Comment Tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ne21dfVWKu_mMxFAkXzHj92LXks5XSj6-tS1EmcNYLQ/edit#gid=66421665"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "POST ID": "={{ $json.body.postId }}",
            "STATUS": "Archived"
          },
          "matchingColumns": [
            "POST ID"
          ],
          "schema": [
            {
              "id": "POST ID",
              "displayName": "POST ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "VIP NAME",
              "displayName": "VIP NAME",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "POST CONTENTS",
              "displayName": "POST CONTENTS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "POST URL",
              "displayName": "POST URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "ENRICHED URL",
              "displayName": "ENRICHED URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PROCESSED AT",
              "displayName": "PROCESSED AT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DRAFT 1",
              "displayName": "DRAFT 1",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DRAFT 2",
              "displayName": "DRAFT 2",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "DRAFT 3",
              "displayName": "DRAFT 3",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "SELECTED DRAFT # ",
              "displayName": "SELECTED DRAFT # ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "POSTED COMMENT",
              "displayName": "POSTED COMMENT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "COMMENTED AT",
              "displayName": "COMMENTED AT",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "EDIT DISTANCE",
              "displayName": "EDIT DISTANCE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "TOV ACCURACY SCORE",
              "displayName": "TOV ACCURACY SCORE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "FEEDBACK NOTES ",
              "displayName": "FEEDBACK NOTES ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "STATUS",
              "displayName": "STATUS",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1488,
        -576
      ],
      "id": "c287f977-43d5-42a8-b0b0-cb652bc7c384",
      "name": "Status: \"Archived\"",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3ufruIOhHou2w8Za",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "## ↩️ Fetch Posts\nPull uncommented posts and commented posts <30 days into the Worker UI for deduping and efficient data processing",
        "height": 304,
        "width": 656,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -240,
        -720
      ],
      "typeVersion": 1,
      "id": "654ef448-fc7e-4666-84ce-27d70d065fd5",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ne21dfVWKu_mMxFAkXzHj92LXks5XSj6-tS1EmcNYLQ",
          "mode": "list",
          "cachedResultName": "Phuijs N8N LinkedIn AI Engagement Tool Config",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ne21dfVWKu_mMxFAkXzHj92LXks5XSj6-tS1EmcNYLQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 66421665,
          "mode": "list",
          "cachedResultName": "💬 Post and Comment Tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ne21dfVWKu_mMxFAkXzHj92LXks5XSj6-tS1EmcNYLQ/edit#gid=66421665"
        },
        "combineFilters": "OR",
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        48,
        -576
      ],
      "id": "705ca612-0b7a-44de-9b2c-cada0ce6b306",
      "name": "Fetch all posts",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3ufruIOhHou2w8Za",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const cutoffDate = new Date();\ncutoffDate.setDate(cutoffDate.getDate() - 30);\n\nconst filtered = $input.all().filter(item => {\n  const status = item.json.STATUS;\n  const processedAt = new Date(item.json['PROCESSED AT']);\n  \n  // Keep all Drafted\n  if (status === 'Drafted') return true;\n  \n  // Keep Commented only if < 30 days old\n  if (status === 'Commented' && processedAt > cutoffDate) return true;\n  \n  return false;\n});\n\n// Format for worker page\nreturn filtered.map(item => ({\n  POST_ID: item.json[\"POST ID\"],\n  VIP_NAME: item.json[\"VIP NAME\"],\n  POST_CONTENTS: item.json[\"POST CONTENTS\"],\n  STATUS: item.json.STATUS,\n  DRAFT_1: item.json['DRAFT 1'] || '',\n  DRAFT_2: item.json['DRAFT 2'] || '',\n  DRAFT_3: item.json['DRAFT 3'] || '',\n  ENRICHED_URL: item.json[\"ENRICHED URL\"] || item.json[\"POST URL\"],\n  PROCESSED_AT: item.json['PROCESSED AT']\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        -576
      ],
      "id": "05d4c9c2-62d9-45b4-aa77-6b71ceae0f37",
      "name": "Filter Drafts & Recent Comments"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "fetch-posts",
        "responseMode": "lastNode",
        "responseData": "allEntries",
        "options": {
          "allowedOrigins": "https://bramvandersommen.github.io"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -176,
        -576
      ],
      "id": "9aa63200-7d4f-4cfb-bb4c-4246567b5b9b",
      "name": "Fetch Posts",
      "webhookId": "ba221744-7888-436c-b552-8e753013682e"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "55f480cc-04be-4fd4-a28a-26ed103a7e07",
              "name": "posts",
              "value": "={{ $json.body.posts }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        272,
        -272
      ],
      "id": "59b840b9-985c-4ace-b8a6-e95e9ada1965",
      "name": "Set Posts"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "Nqok5JpsVgSa8acu",
          "mode": "list",
          "cachedResultName": "phuijs_linkedin_engagement_config_cache",
          "cachedResultUrl": "/projects/Q7VLgloAEr6kCi0b/datatables/Nqok5JpsVgSa8acu"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "key",
              "keyValue": "config"
            }
          ]
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        480,
        -272
      ],
      "id": "230d923e-c4d1-4662-a198-bb37f2ad7bd9",
      "name": "Get Cached Config"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "daysInterval": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -176,
        16
      ],
      "id": "9beab3ec-941c-45e1-ba33-1981c75374ff",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -176,
        352
      ],
      "id": "44a96e12-fd32-424c-8b78-97629087111d",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "Nqok5JpsVgSa8acu",
          "mode": "list",
          "cachedResultName": "phuijs_linkedin_engagement_config_cache",
          "cachedResultUrl": "/projects/Q7VLgloAEr6kCi0b/datatables/Nqok5JpsVgSa8acu"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "key",
              "keyValue": "config"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "value": "={{JSON.stringify($json)}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "key",
              "displayName": "key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "value",
              "displayName": "value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        496,
        16
      ],
      "id": "cda85b23-348b-4d18-8c88-3362ad6c0e53",
      "name": "Fresh Config"
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "__rl": true,
          "value": "Nqok5JpsVgSa8acu",
          "mode": "list",
          "cachedResultName": "phuijs_linkedin_engagement_config_cache",
          "cachedResultUrl": "/projects/Q7VLgloAEr6kCi0b/datatables/Nqok5JpsVgSa8acu"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "key",
              "keyValue": "VIPs"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "value": "={{ JSON.stringify($json.data) }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "key",
              "displayName": "key",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "value",
              "displayName": "value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        1120,
        16
      ],
      "id": "96f468eb-02d0-4376-9ae1-cbe341ad800c",
      "name": "Fresh VIPs"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "refresh-cache",
        "responseMode": "lastNode",
        "responseData": "allEntries",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -176,
        192
      ],
      "id": "86c8ca85-9b74-423c-8488-b3ccc27b206e",
      "name": "Refresh Cache",
      "webhookId": "ba221744-7888-436c-b552-8e753013682e"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{JSON.parse($json.value)}}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        704,
        -272
      ],
      "id": "5f430af6-2cac-4f12-be0b-075d711bbd96",
      "name": "Set Config"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "Nqok5JpsVgSa8acu",
          "mode": "list",
          "cachedResultName": "phuijs_linkedin_engagement_config_cache",
          "cachedResultUrl": "/projects/Q7VLgloAEr6kCi0b/datatables/Nqok5JpsVgSa8acu"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "key",
              "keyValue": "VIPs"
            }
          ]
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        928,
        -272
      ],
      "id": "c5c5769a-d578-4b29-90e7-d712a4f5eeca",
      "name": "Get Cached VIPs"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ne21dfVWKu_mMxFAkXzHj92LXks5XSj6-tS1EmcNYLQ",
          "mode": "list",
          "cachedResultName": "Phuijs N8N LinkedIn AI Engagement Tool Config",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ne21dfVWKu_mMxFAkXzHj92LXks5XSj6-tS1EmcNYLQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 357602011,
          "mode": "list",
          "cachedResultName": "⭐ VIP List",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ne21dfVWKu_mMxFAkXzHj92LXks5XSj6-tS1EmcNYLQ/edit#gid=357602011"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        720,
        16
      ],
      "id": "76f3c9bb-2a9a-42be-af66-9b87b5b2344e",
      "name": "Get VIPs",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3ufruIOhHou2w8Za",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        928,
        16
      ],
      "id": "8ba4b49b-8c7f-4fff-9319-5505f6591886",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ne21dfVWKu_mMxFAkXzHj92LXks5XSj6-tS1EmcNYLQ",
          "mode": "list",
          "cachedResultName": "Phuijs N8N LinkedIn AI Engagement Tool Config",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ne21dfVWKu_mMxFAkXzHj92LXks5XSj6-tS1EmcNYLQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "⚙️ Config",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ne21dfVWKu_mMxFAkXzHj92LXks5XSj6-tS1EmcNYLQ/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        48,
        16
      ],
      "id": "41ceb1ed-9dd8-413e-a8a0-5a17d9e306d4",
      "name": "Get Config",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3ufruIOhHou2w8Za",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get VIP data from Aggregate node\nconst vipData = $('Aggregate').first().json.data;\n\n// Filter only active VIPs and map to required format\nconst activeVips = vipData\n  .filter(vip => vip.Active === 'YES')\n  .map(vip => ({\n    name: vip['Vip Name'],\n    profileUrl: vip['LinkedIn URL'],\n    profileId: vip['LinkedIn ID']\n  }));\n\n// Generate JavaScript file content\nconst jsContent = `// VIP Configuration - Auto-updated by N8N\n// Last updated: ${new Date().toISOString()}\n// Active VIPs: ${activeVips.length}\n\nwindow.LINKEDIN_AI_VIP_CONFIG = {\n  version: \"${Date.now()}\", // Unix timestamp as version\n  lastUpdated: \"${new Date().toISOString()}\",\n  vips: ${JSON.stringify(activeVips, null, 2)}\n};`;\n\nreturn [{\n  json: {\n    fileContent: jsContent\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1328,
        16
      ],
      "id": "ebf356e4-0679-4290-82ff-5049b6bc1511",
      "name": "Prep JS Content"
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "edit",
        "owner": {
          "__rl": true,
          "value": "bramvandersommen",
          "mode": "list",
          "cachedResultName": "bramvandersommen",
          "cachedResultUrl": "https://github.com/bramvandersommen"
        },
        "repository": {
          "__rl": true,
          "value": "linkedin-worker-test",
          "mode": "list",
          "cachedResultName": "linkedin-worker-test",
          "cachedResultUrl": "https://github.com/bramvandersommen/linkedin-worker-test"
        },
        "filePath": "vip-config.js",
        "fileContent": "={{ $json.fileContent }}",
        "commitMessage": "=Auto-update VIP list - {{ $now.toISO() }}"
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        1520,
        16
      ],
      "id": "5995cc56-9ef9-45fb-ae03-06341387eaea",
      "name": "Update VIPs on Github",
      "webhookId": "b53f8a28-9ad3-4c70-aaf0-4eae2e23e025",
      "credentials": {
        "githubApi": {
          "id": "PBLlzC6dKeYx32PX",
          "name": "Phuijs - GitHub VIP Update"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const configRows = $input.all();\nconst config = {};\n\nfor (const row of configRows) {\n  const key = row.json.CONFIG_ATTRIBUTE || row.json['CONFIG ATTRIBUTE'];\n  const value = row.json.VALUE;\n  if (key && value !== '') {\n    config[key] = value;\n  }\n}\n\nreturn [{ json: { config } }];"
      },
      "id": "96fe8f49-e57e-4487-8948-165a241ecb95",
      "name": "Parse Vertical Config",
      "type": "n8n-nodes-base.code",
      "position": [
        272,
        16
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "// Get inputs\nconst posts = $('Set Posts').first().json.posts;\nconst vipList = $('Set VIPs').first().json.vipList;\n\n// Create lookup map by LinkedIn ID\nconst vipMap = {};\nvipList.forEach(vip => {\n  if (vip['LinkedIn ID']) {\n    vipMap[vip['LinkedIn ID'].toLowerCase()] = vip;\n  }\n});\n\n// Enrich posts AND filter out non-matches\nconst enrichedPosts = posts\n  .map(post => {\n    const vip = vipMap[post.profileId?.toLowerCase()];\n    \n    if (!vip) {\n      console.warn('⚠️ No VIP match for:', post.nameOfVIP, post.profileId);\n      return null;\n    }\n    \n    return {\n      ...post,\n      vipRelationshipNotes: vip['Relationship Notes'] || 'No specific relationship context.'\n    };\n  })\n  .filter(post => post !== null);\n\nconsole.log(`Processed: ${posts.length} → ${enrichedPosts.length} (filtered ${posts.length - enrichedPosts.length} unmatched)`);\n\n// ERROR HANDLING: If no matches, stop workflow early\nif (enrichedPosts.length === 0) {\n  throw new Error('NO_VIP_MATCHES: No posts matched active VIPs. Check scraper VIP list vs Google Sheets VIP config.');\n}\n\nreturn [{\n  json: { posts: enrichedPosts }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        -272
      ],
      "id": "fb5a4d03-f7b0-4fb8-8f48-5a3e30db49c8",
      "name": "Lookup VIP Notes"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        1936,
        -608
      ],
      "id": "abf7bcc0-911d-4e5e-b2dc-e2fcf87a2d3c",
      "name": "Error Trigger"
    },
    {
      "parameters": {
        "jsCode": "// Access input items directly\n  const items = $input.all();\n  const firstItem = items[0];\n  const errorData = firstItem.json || firstItem;\n\n  // Build error response for worker\n  const errorResponse = {\n    success: false,\n    error: errorData.execution?.error?.description || 'UNKNOWN_ERROR',\n    message: errorData.execution?.error?.message || 'An unknown error occurred',\n    details: errorData.execution?.lastNodeExecuted || null\n  };\n\n  console.log('[N8N] Sending error response:', errorResponse);\n\n  // IMPORTANT: Return as N8N items array format\n  return [{ json: errorResponse }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        -608
      ],
      "id": "1d520433-8d52-4c6b-a931-5ebcad2f4b78",
      "name": "Format Message"
    },
    {
      "parameters": {
        "content": "## ⚠️ Pass Errors to Front-End\nMostly for VIP Matches - if not found, update UI",
        "height": 304,
        "width": 560,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1824,
        -720
      ],
      "typeVersion": 1,
      "id": "e1b7f972-81a1-4397-a1e7-6ed2631f1b35",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "jsCode": "const origin = $input.first().json.headers.origin || \n$input.first().json.headers.referer || '';\n\nconst allowed = [\n  'bramvandersommen.github.io',\n  'linkedin.com'\n];\n\nif (!allowed.some(domain => origin.includes(domain))) {\n  throw new Error('FORBIDDEN: Invalid origin');\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        48,
        -272
      ],
      "id": "3af6c0db-e3fd-449a-9043-be35d510fd26",
      "name": "Validate Origin"
    }
  ],
  "pinData": {},
  "connections": {
    "Set VIPs": {
      "main": [
        [
          {
            "node": "Lookup VIP Notes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Patrick writes comments": {
      "main": [
        [
          {
            "node": "Parse and Split Drafts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse and Split Drafts": {
      "main": [
        [
          {
            "node": "Append to Tracker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append to Tracker": {
      "main": [
        [
          {
            "node": "Normalize",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Incoming Posts": {
      "main": [
        [
          {
            "node": "Validate Origin",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Archive Posts": {
      "main": [
        [
          {
            "node": "Status: \"Archived\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Commented Status": {
      "main": [
        [
          {
            "node": "Status: \"Commented\"",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch all posts": {
      "main": [
        [
          {
            "node": "Filter Drafts & Recent Comments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Posts": {
      "main": [
        [
          {
            "node": "Fetch all posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Posts": {
      "main": [
        [
          {
            "node": "Get Cached Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Cached Config": {
      "main": [
        [
          {
            "node": "Set Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fresh Config": {
      "main": [
        [
          {
            "node": "Get VIPs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Refresh Cache": {
      "main": [
        [
          {
            "node": "Get Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Config": {
      "main": [
        [
          {
            "node": "Get Cached VIPs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Cached VIPs": {
      "main": [
        [
          {
            "node": "Set VIPs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get VIPs": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Fresh VIPs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Config": {
      "main": [
        [
          {
            "node": "Parse Vertical Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fresh VIPs": {
      "main": [
        [
          {
            "node": "Prep JS Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prep JS Content": {
      "main": [
        [
          {
            "node": "Update VIPs on Github",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Vertical Config": {
      "main": [
        [
          {
            "node": "Fresh Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup VIP Notes": {
      "main": [
        [
          {
            "node": "Patrick writes comments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Format Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Message": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Origin": {
      "main": [
        [
          {
            "node": "Set Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": true
  },
  "versionId": "133f29a7-7fb1-4590-8bc2-428ff4fc5633",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3544f5c37f73a751dffe3a575db3409945a8c0e3401cb35ea2d58e80aeff7724"
  },
  "id": "nqR1NZvAmuARHWoY",
  "tags": []
}